<% include user.ejs%>

<div class="container pt-5">
    <form action="/activity/search" method="post">
        <div class="form-group row ">
                <label for="type" class="col-2 col-form-label"><h2>Type</h2></label>
                <select name="type" class=" custom-select mb-2 mr-sm-2 mb-sm-0" id="type">                    
                    <option value="Beh">Beh</option>
                    <option value="Chodza">Chôdza</option>
                    <option value="CrossFit">CrossFit</option>
                    <option value="Workout">Workout</option>
                    <option value="Joga">Jóga</option>
                </select>
            
            
        </div>
        <div class="pl-4">
            <button type="submit" value="Submit" class=" btn btn-success">Search</button>
        </div>
    </form>
</div>
